@import url("./loading2.scss");

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
::-webkit-scrollbar {
  display: none;
  width: 0;
}

body {
  margin: 0 auto;
  max-width: 640px;
}

// img {
//   max-width: 100%;
// }

.box-content {
  min-height: 100vh;
  max-height: 100vh;
  overflow: auto;
  background: #e1f1fc url("../img/footbgone.png") no-repeat center bottom;
  background-size: 100%;

  .box-img {
    // width: 390rem;
    height: 247rem;
    background: url("../img/headbg.png") no-repeat center top;
    background-attachment: fixed;
    background-size: 100%;
    padding: 55rem 12rem 0 12rem;
    box-sizing: border-box;

    .head-img-box {
      width: 100%;
      height: 139rem;

      .head-img {
        width: 100%;
        height: 100%;
      }
    }

    .head-title {
      height: 52rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 10rem 0 20rem;
      background-color: #e24556;
      font-weight: 500;
      color: #ffffff;
      border-radius: 0 0 15rem 15rem;

      .head-left {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 60%;

        .head-logo {
          width: 43rem;
          height: 44rem;

          img {
            width: 100%;
            height: 100%;
          }
        }

        .head-text {
          font-size: 12rem;
        }
      }

      .head-right {
        width: 88rem;
        height: 30rem;
        line-height: 30rem;
        display: flex;
        align-items: center;
        border: 1rem solid #fff;
        border-radius: 6rem;
        padding-left: 16rem;
      }
    }
  }
  .mid-content {
    .box-mid {
      padding: 0 12rem;
      overflow: hidden;
      .box-item {
        // width: 366rem;
        height: 140rem;
        background-color: #fff;
        border-radius: 15rem;
        margin-top: 21rem;
        padding: 13rem 10rem;
        box-sizing: border-box;

        .item-h {
          display: flex;
          .item-h-right {
            font-size: 13rem;

            .item-name {
              display: flex;
              align-items: center;
              font-weight: 500;
              .main-title {
                margin: 0 8rem;
                font-weight: 600 !important;
                font-size: 17rem;
              }

              .main-star {
                display: flex;
                align-items: center;
              }
            }

            .main-gif {
              font-weight: 500;
              font-family: "PingFang SC";

              text {
                color: #ff0000;
              }
            }

            .main-mes {
              text {
                color: #c03bff;
              }
            }
          }
        }

        .item-bot {
          display: flex;
          justify-content: space-between;
          margin-top: 13rem;
          font-size: 17rem;
          font-weight: 600;

          .bot-btn {
            width: 168rem;
            height: 40rem;
            line-height: 40rem;
            text-align: center;
            border-radius: 5rem;
            border-radius: 15rem;
            color: #fff;
            text-decoration: none;
          }
        }
        // 公共样式
        .guan-name {
          width: 36rem;
          height: 22rem;
          line-height: 22px;
          border-radius: 10rem;
          text-align: center;
        }
        .bot-btn {
          background: linear-gradient(180deg, #b63939 0%, #ff4646 100%);
        }
        // b体育单独样式
        &.b-sport {
          .bot-btn {
            background: linear-gradient(180deg, #b63939 0%, #ff4646 100%);
          }
          .guan-name {
            background-color: #ca0101;
            color: #ffffff;
          }
        }
        // 米乐体育单独样式
        &.ml-sport {
          .bot-btn {
            background: linear-gradient(180deg, #ffbb00 0%, #ffd543 100%);
          }
          .guan-name {
            background-color: #000000;
            color: #ffc122;
          }
        }
        // BB体育单独样式
        &.bb-sport {
          .bot-btn {
            background: linear-gradient(180deg, #434e90 0%, #6b7aef 100%);
          }
          .guan-name {
            background-color: #5251b9;
            color: #ffffff;
          }
        }
        // K体育单独样式
        &.k-sport {
          .bot-btn {
            background: linear-gradient(180deg, #155ba0 0%, #47b9eb 100%);
          }
          .guan-name {
            background-color: #154480;
            color: #ffffff;
          }
        }
      }
    }

    .box-foot {
      margin-top: 20rem;
      margin-bottom: 16rem;
      padding: 0 12rem;

      .tipline {
        display: flex;
        align-items: center;
        text-align: center;
        height: 22rem;
        line-height: 22rem;
        font-size: 20rem;
        font-weight: 600;
        padding: 0 32rem;

        .tip-title {
          display: block;
          margin: 0 18rem;
          color: #6b7aef;
        }
      }

      .tipnote {
        margin: 8rem 0 17rem 0;
        font-weight: 400;
        font-size: 15rem;
        color: #666666;
      }

      .tiplist {
        .list-title {
          height: 36rem;
          line-height: 36rem;
          text-align: center;
          background: linear-gradient(180deg, #7b79fd 0%, #5e68fe 100%);
          border-radius: 15rem 15rem 0 0;
          color: #fff;
          font-size: 15rem;
        }
        .table-wrapper {
          overflow: hidden;
          border-bottom: 0;
          border-right: 0;
          box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
          border-radius: 0 0 15rem 15rem;
          padding-bottom: 10px;
          font-size: 13rem;
          .head {
            display: flex;
            span {
              flex: 1;
              text-align: center;
              padding: 0 5rem;
              font-weight: 600;
              line-height: 24px;
            }
          }
          .list-wrapper {
            height: 220px;
            overflow: hidden;
            .s-list {
              animation: scrollAnimation 6.5s linear infinite;

              .item {
                display: flex;
                height: 55px;
                p {
                  flex: 1;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  padding: 2rem 5rem;
                  margin: 0;
                  &.result {
                    background: #6a70fe;
                    border-radius: 10rem;
                    margin-bottom: 5rem;
                    color: #fff;
                  }
                  &.guess {
                    color: #ff4646;
                  }
                }
              }
            }
          }
        }
      }
    }

    .box-itemr {
      padding: 0 12rem 30rem;
      box-sizing: border-box;

      .item {
        display: none;
        justify-content: space-between;
        align-items: center;
        height: 42rem;
        line-height: 42rem;
        background: #ffffff;
        box-shadow: 0 0 4rem rgba(0, 0, 0, 0.25);
        border-radius: 12rem;
        margin-top: 16rem;
        font-weight: 600;
        font-size: 17rem;
        padding: 0 4rem 0 10rem;

        .item-btn {
          width: 99rem;
          height: 32rem;
          line-height: 32rem;
          text-align: center;
          border-radius: 10rem;
          color: #fff;
        }
      }

      .btn-color {
        background: linear-gradient(180deg, #6ba4fb 0%, #358aff 100%);
      }

      .btn-color-two {
        background: linear-gradient(180deg, #7c79fc 0%, #5c67fd 100%);
      }
    }
  }
}

.loading-wrapper {
  position: fixed;
  z-index: 999;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  background: rgba(0, 0, 0, 0.5);
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}
@keyframes scrollAnimation {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    // 首屏展示4个item 总共6个item diff = 6-4
    transform: translate3d(0, calc(2 * -55px), 0);
  }
}
